{% extends 'base.html' %}

{% block title %}
Добавление адреса
{% endblock %}

{% block body %}
<div class="container">
    <h1>Добавление адреса</h1>
    <form method="post">
        <input type="text" name="adress" id="adress" class="form-control"><br>
        <input type="submit" class="btn-succes" value="Добавить">
    </form>
    <h1>Добавление файла csv</h1>
    <form method="post">
        <input type="text" name="adress" id="adress" class="form-control"><br>
        <input type="submit" class="btn-succes" value="Добавить фаил">
    </form>
</div>
{% endblock %}
